<app-menu></app-menu>



<div class="text-layout">
  <h1> {{ nombre | titlecase}} </h1>
  <h1> {{ valor | number}} </h1>
  <h1> {{ obj | json}} </h1>
</div>



<button pButton
        (click)="mostrarNombre()"
        label="Cambiar Nombre"
        icon="pi pi-bell"
        iconPos="right"
        class="p-button-help"></button>
<br>
<p-card [header]="nombre | titlecase"
        subheader="Esto es un sub header">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus hic, temporibus culpa dolor eveniet blanditiis doloribus a saepe quam quo repudiandae consectetur, laudantium eaque harum veniam maxime autem sequi iusto.
</p-card>